n8n/n8n-flujo1.json
{
  "name": "Konversion Web",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4843cac6-8188-4ac2-b178-2a9faf226fab",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        16
      ],
      "id": "6bda7c47-eb94-4dec-a645-9c5f6a125a4e",
      "name": "Webhook",
      "webhookId": "4843cac6-8188-4ac2-b178-2a9faf226fab"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lvM3HHcbfv1hWpatJUs5QvITS4QsQB7SXUIfm9ERCSI",
          "mode": "list",
          "cachedResultName": "N8N Sistema_Conversiones_WhatsApp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lvM3HHcbfv1hWpatJUs5QvITS4QsQB7SXUIfm9ERCSI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 86924823,
          "mode": "list",
          "cachedResultName": "clicks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lvM3HHcbfv1hWpatJUs5QvITS4QsQB7SXUIfm9ERCSI/edit#gid=86924823"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "gclid": "={{ $json.body.gclid }}",
            "gclid_hash": "={{ $json.body.gclid_hash }}",
            "whatsapp_business_phone": "={{ $json.body.phone_e164 }}",
            "first_click_time_iso": "={{ $json.body.first_click_time_iso }}",
            "landing_url": "={{ $json.body.landing_url }}",
            "source": "={{$json.body.source ?? $json.headers?.origin ?? $json.headers?.referer ?? 'unknown'}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "gclid",
              "displayName": "gclid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp_business_phone",
              "displayName": "whatsapp_business_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_click_time_iso",
              "displayName": "first_click_time_iso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "landing_url",
              "displayName": "landing_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gclid_hash",
              "displayName": "gclid_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        -32
      ],
      "id": "d9d888f1-bd5d-41ec-b460-b16946c5c788",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cTxVw7JPxAQjJZR5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let body = $json.body;\n\n// Si viene como string, lo convertimos a objeto\nif (typeof body === 'string') {\n  try {\n    body = JSON.parse(body);\n  } catch (e) {\n    // Si falla, deja un error visible para depurar\n    return [{ ...$json, parsed_error: 'Body is not valid JSON', raw_body: $json.body }];\n  }\n}\n\n// Deja el body ya parseado y además crea campos planos (más fácil de mapear)\nreturn [{\n  ...$json,\n  body,\n  gclid: body.gclid ?? null,\n  gclid_hash: body.gclid_hash ?? null,\n  phone_e164: body.phone_e164 ?? null,\n  agent_selected: body.agent_selected ?? null,\n  first_click_time_iso: body.first_click_time_iso ?? null,\n  landing_url: body.landing_url ?? null,\n  page_title: body.page_title ?? null,\n  user_agent: body.user_agent ?? null,\n  device_type: body.device_type ?? null,\n  project_id: body.project_id ?? null,\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -80
      ],
      "id": "6727275b-f0f0-4367-b0a3-3f3bc25dc183",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d191045a-977a-4821-8fdb-7ca47fafea71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f13993b16e067a82e6fa160e42190313629bb8b43c55648e41e8daa553c28a9"
  },
  "id": "9NiQoh92OKYhdPA1",
  "tags": []
}