n8n/Workflow 2 - yCloud Ingest [Ver 2].json
{
  "name": "Workflow 2 - yCloud Ingest [Ver 2]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ycloud/:project_id",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -992,
        176
      ],
      "id": "dbcb10b3-1f4d-40fd-b03a-e5869d2c5ad4",
      "name": "yCloud Webhook",
      "webhookId": "ycloud-webhook-uuid"
    },
    {
      "parameters": {
        "jsCode": "// Obtener project_id de la URL (viene en params del webhook)\nconst project_id = $input.first().json.params?.project_id || $('yCloud Webhook').first().json.params?.project_id || 'unknown';\nconst payload = $input.first().json.body;\n\n// Detectar tipo de evento\nconst is_inbound = payload.type === 'whatsapp.inbound_message.received';\nconst is_outbound = payload.type === 'whatsapp.message.updated';\n\nif (!is_inbound && !is_outbound) {\n  throw new Error(`Unknown event type: ${payload.type}`);\n}\n\n// Extraer datos según tipo\nlet message_data;\n\nif (is_inbound) {\n  const text = payload.whatsappInboundMessage.text?.body || '';\n\n// Extraer hash del mensaje (#ABCDE o prefijos Ref/Código/Bono/Code/Promo/Ticket)\nlet click_id_hash = null;\n\nconst hashMatch = text.match(/(?:#|Ref|Referencia|Código|Codigo|Bono|Code|Promo|Promoción|Ticket)(?:\\s*:\\s*)?#?([A-Z0-9]{4,10})/i);\n\nif (hashMatch) {\n  click_id_hash = hashMatch[1].toUpperCase();\n}\n\n  message_data = {\n    message_id: payload.whatsappInboundMessage.id,\n    phone: payload.whatsappInboundMessage.from,\n    business_phone: payload.whatsappInboundMessage.to,\n    text: text,\n    ts: payload.whatsappInboundMessage.sendTime || payload.createTime || new Date().toISOString(),\n    direction: 'in',\n    event_type: 'message_in',\n    click_id_hash: click_id_hash\n  };\n} else {\n  // Solo procesar si status = delivered o read (o sent para registros rápidos)\n  const validStatuses = ['delivered', 'read', 'sent'];\n  if (!validStatuses.includes(payload.whatsappMessage.status)) {\n    return [];\n  }\n\n  message_data = {\n    message_id: payload.whatsappMessage.id,\n    phone: payload.whatsappMessage.to,\n    business_phone: payload.whatsappMessage.from,\n    text: payload.whatsappMessage.text?.body || '',\n    ts: payload.whatsappMessage.sendTime || payload.whatsappMessage.createTime || payload.createTime || new Date().toISOString(),\n    direction: 'out',\n    event_type: 'message_out',\n    click_id_hash: null\n  };\n}\n\n\n\n// Extraer nombre del contacto si yCloud lo provee (varía por payload)\nlet extracted_name = null;\ntry {\n  extracted_name = payload?.whatsappInboundMessage?.fromName ||\n    payload?.whatsappInboundMessage?.profileName ||\n    payload?.whatsappInboundMessage?.contact?.name ||\n    payload?.whatsappInboundMessage?.contact?.profileName ||\n    payload?.whatsappInboundMessage?.profile?.name ||\n    null;\n  if (typeof extracted_name === 'string') extracted_name = extracted_name.trim();\n  if (!extracted_name) extracted_name = null;\n} catch (e) {\n  extracted_name = null;\n}\n\n// Extraer email si viene en el texto (principalmente inbound)\n// Nota: se guarda dentro de payload_raw (jsonb) para no requerir cambios de schema en `events`.\nlet extracted_email = null;\ntry {\n  const emailMatch = (message_data.text || '').match(/\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}\\b/i);\n  if (emailMatch) {\n    extracted_email = emailMatch[0].trim().toLowerCase();\n  }\n} catch (e) {\n  extracted_email = null;\n}\n\n// Normalizar teléfono\nfunction normalizePhone(phone) {\n  if (!phone) return '';\n  let clean = phone.toString().replace(/[^0-9+]/g, '');\n  if (!clean.startsWith('+')) clean = '+' + clean;\n  return clean;\n}\n\n// Generar event_id único\nconst event_id = `evt_${Date.now()}_${Math.random().toString(36).substring(2, 15)}`;\n\nreturn {\n  event_id,\n  project_id,\n  business_phone: normalizePhone(message_data.business_phone),\n  phone_e164: normalizePhone(message_data.phone),\n  message_id: message_data.message_id,\n  message_text: message_data.text,\n  direction: message_data.direction,\n  event_type: message_data.event_type,\n  ts: message_data.ts,\n  click_id_hash: message_data.click_id_hash,\n  email: extracted_email,\n  lead_name: extracted_name,\n  provider_event_type: payload.type,\n  payload_raw: JSON.stringify({\n    ...payload,\n    extracted_email,\n    extracted_name\n  })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        176
      ],
      "id": "ea739dd4-f722-4666-8c49-19b69c20c1f7",
      "name": "Parse yCloud"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  project_id,\n  client_name,\n  status,\n  phone_filter,\n  sheet_spreadsheet_id,\n  sheet_messages_name\nFROM clients_config\nWHERE project_id = $1\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.project_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -592,
        176
      ],
      "id": "75c6b621-2128-4d96-ba56-8bf63fbd0f1b",
      "name": "Get Config",
      "credentials": {
        "postgres": {
          "id": "8YJV6aXkwW8GDwrM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Get Config').item.json.phone_filter }}",
              "value2": "={{ $('Parse yCloud').item.json.business_phone }}"
            },
            {
              "value1": "={{ $('Get Config').item.json.status }}",
              "value2": "active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -432,
        224
      ],
      "id": "d1b878f7-1719-4931-a4ba-328ff83ec4d9",
      "name": "Validate Phone & Status"
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos del nodo Parse yCloud\nconst msg = $('Parse yCloud').first().json;\nconst config = $('Get Config').first().json;\n\n// Preparar query\nconst query = `\nINSERT INTO events (\n  event_id,\n  project_id,\n  event_type,\n  phone_e164,\n  customer_phone_e164,\n  business_phone_e164,\n  ts,\n  message_text,\n  message_id,\n  direction,\n  click_id_hash,\n  lead_name,\n  provider_event_type,\n  payload_raw,\n  processed_at,\n  created_at\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16\n)\nON CONFLICT (event_id) DO NOTHING\nRETURNING event_id;\n`;\n\nconst params = [\n  msg.event_id,\n  msg.project_id,\n  msg.event_type,\n  msg.phone_e164,\n  msg.phone_e164,\n  msg.business_phone,\n  msg.ts,\n  msg.message_text,\n  msg.message_id,\n  msg.direction,\n  msg.click_id_hash,\n  msg.lead_name,\n  msg.provider_event_type,\n  msg.payload_raw,\n  null,\n  new Date().toISOString()\n];\n\nreturn {\n  query,\n  params,\n  // Para sheets\n  phone_e164: msg.phone_e164,\n  lead_name: msg.lead_name,\n  business_phone_e164: msg.business_phone,\n  customer_phone_e164: msg.phone_e164,\n  direction: msg.direction,\n  message_text: msg.message_text,\n  ts: msg.ts,\n  message_id: msg.message_id,\n  sheet_spreadsheet_id: config.sheet_spreadsheet_id,\n  sheet_messages_name: config.sheet_messages_name || 'chats_raw'\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        128
      ],
      "id": "88568660-8c6b-4efc-820b-2c6b1980c4aa",
      "name": "Prepare Message SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "7e5d9fc9-e5ff-483e-9380-ebeb11d60745",
      "name": "Insert Message to Postgres",
      "credentials": {
        "postgres": {
          "id": "8YJV6aXkwW8GDwrM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  phone_e164: $json.phone_e164,\n  lead_name: $json.lead_name,\n  business_phone_e164: $json.business_phone_e164,   // <- agrega\n  customer_phone_e164: $json.customer_phone_e164,   // <- agrega\n  direction: $json.direction,\n  message_text: $json.message_text,\n  timestamp_iso: $json.ts,\n  message_id: $json.message_id,\n  sheet_spreadsheet_id: $json.sheet_spreadsheet_id,\n  sheet_messages_name: $json.sheet_messages_name\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        384
      ],
      "id": "48f5dcdf-4344-4a89-88b3-35758020eeb5",
      "name": "Filter for Sheets"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_spreadsheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheet_messages_name }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        384
      ],
      "id": "a6594eda-0acd-46ce-a0d3-8060f501f898",
      "name": "Append to Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cTxVw7JPxAQjJZR5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"event_id\": $('Insert Message to Postgres').item.json.event_id, \"project_id\": $('Parse yCloud').item.json.project_id, \"timestamp\": $now.toISO() } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        208,
        160
      ],
      "id": "ab72ef48-990b-4731-8c67-43c5b306c563",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "yCloud Webhook": {
      "main": [
        [
          {
            "node": "Parse yCloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse yCloud": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Validate Phone & Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Phone & Status": {
      "main": [
        [
          {
            "node": "Prepare Message SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message SQL": {
      "main": [
        [
          {
            "node": "Insert Message to Postgres",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter for Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for Sheets": {
      "main": [
        [
          {
            "node": "Append to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Message to Postgres": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d2eb21be-4b16-4cdd-9e1b-2973e2531004",
  "meta": {
    "instanceId": "9f13993b16e067a82e6fa160e42190313629bb8b43c55648e41e8daa553c28a9"
  },
  "id": "yMvk0Yc9wWmu7Mjz",
  "tags": []
}